@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: outfit;
}
body{
    background: #dadada;

}
a{
    text-decoration:none;
    color:inherit;
}
nav{
    display:flex;
    align-items:center;
    justify-content:space-between;/*doing nothing for now*/
    background:green;
    padding: 10px 20px;
    color:#fff;

}

.nav-country{
    display:flex;
    align-items:end;
    margin-left:15px;
    font-size:13px;
    color:#c4c4c4;

}
.nav-country h1 {
   
    font-size:14px;
    color:#fff;

}
.nav-search{
    flex:1;
    display:flex;
    align-items: center;
    background: #fff;
    color:gray;
    max-width: 1000px;
    border-radius: 4px;
    margin-left:15px;
   

}
.nav-search-category{
    display:flex;
    align-items: center;
    padding: 10px 20px ;
    gap:5px;
    background: #e5e5e5;
    border-radius :4px 0 0 4px;
}
.nav-search-input{
    border:none;
    outline:none;/*doing nothing for now*/
    padding-left:20px;
    width:100%;

}
.nav-search-icon{
    max-width:41px;
    padding :10px;
    background: #ffd64f;
    border-radius: 0 4px 4px 0;

}
.nav-lang{
    display:flex;
    align-items:centre;
    gap:2px;
    font-weight: 600;
    margin-left:15px;
   
}
.nav-accounts{
    margin-left:15px;

}
.nav-accounts p{
    font-size: 10px;
}
.nav-accounts h1{
    font-size: 10px;
}
.nav-cart{
    display:flex;
    align-items:centre;
    margin: 0px 15px;


}
.nav-bottom{
    display:flex;
    align-items:centre;
    gap:20px;
    padding:8px 20px;
    background:#232f3e;
    color:#fff;
    font-size:15px;

}
.nav-bottom div{
    display:flex;
    align-items:centre;
    gap:5px;


}
.GREEN{
    color:#fff;
    background:green;
    padding :0px 20px;
    font-size: 20px;
    border-radius: 10px;

}
.rewardsss img{
    min-height:90%;
    max-width:100%;

}
.greenbits{
    color: white;
   
    

    

}
.greenbits img{
    height:25px;
}

.header-slider ul{
    display:flex;
    overflow-y:hidden;

}
.header-img {
    max-width: 100%;
    /*mask-image:linear-gradient(to bottom,#000000 50%,transparent 100%)*/

}
.header-slider a{
    position:absolute;
    top: 20%;
    z-index: 1;
   padding:5vh 1vw;  /*viewport height ,weight*/
    text-decoration: none;
    font-size: 50px;
    font-weight:900;
   cursor:pointer;
}
.control_next{
    right:0;

}
.box-row{
   display:flex;
    flex-wrap:wrap;
   row-gap:20px;
   align-items:center;
   margin:20px 30px;
   
justify-content:space-between;
    
}

.box-col{
    display:flex;
    flex-direction:column;
    gap:5px;
   
    padding:15px 20px;
    background:#fff;
    max-width:24%;
    min-height:200px;
    z-index: 1;/* made it opaque*/

}
.CO2{
    display:flex;
    gap:10px;
    padding: 10px;

}
.box-col h3{
    font-weight: 400;

}
.box-col p{
    font-size: 25px;
    font-weight: 600;

}

.banner img{
    max-width: 100%;
     


}
.addto{
    padding: 0px 50px;

}

.prizee{
    align-items:center;
    padding: 0px 100px;


}
.box-col a:not(.nnn) {
    font-size: 13px;
    color: black;
    font-size: 20px;
    background-color: orange;
    padding: 5px 25px;
    border-radius: 5px;
  }
  

.CO2 img{
    height: 50px;

}
.Eco-Friendly{
    display:flex;
    gap:10px;
    padding: 10px;

}
.Eco-Friendly img{
    height: 50px;
}
footer{
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    background: black;
    color: white;
}

/*skipped from 56:47*/
